*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f7f3f8;
}

.container{
    display:flex;
}

/* SIDEBAR */

.sidebar{

    width:250px;

    min-height:100vh;

    background:white;

    padding:20px;

    position:sticky;

    top:0;

    box-shadow:0 0 20px rgba(0,0,0,0.05);

}

.logo{

    text-align:center;

    margin-bottom:30px;

}

.logo img{

    width:120px;

}

.sidebar ul{

    list-style:none;

}

.sidebar ul h4{

    margin:25px 0 10px;

    color:#222;

    font-size:14px;

}

.sidebar ul li{

    margin-bottom:8px;

}

.sidebar ul li a{

    display:block;

    padding:14px 16px;

    border-radius:14px;

    text-decoration:none;

    color:#2f4f4f;

    font-weight:600;

    transition:0.3s;

}

.sidebar ul li a:hover,
.sidebar ul li.active a{

    background:#0d7468;

    color:white;

}

.logout{

    margin-top:30px;

}

.logout a{

    display:block;

    text-align:center;

    padding:14px;

    border-radius:14px;

    background:#ff4d6d;

    color:white;

    text-decoration:none;

    font-weight:bold;

}

.main-content{

    flex:1;

    padding:30px;

    min-height:100vh;

}

/* GLOBAL TABLE */

table{

    width:100%;

    border-collapse:collapse;

}

table th{

    background:#f5f5f5;

    padding:15px;

    text-align:left;

}

table td{

    padding:15px;

    border-bottom:1px solid #eee;

}

/* ANIMATION */

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}